<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Nuevo Producto</title>
  </head>
  <body>
    <h1>➕ Agregar nuevo producto al inventario</h1>
    <form method="POST">
      <label>Nombre:</label><br />
      <input type="text" name="nombre" required /><br /><br />

      <label>Categoría:</label><br />
      <select name="categoria" onchange="mostrarCampoOtra(this.value)">
        {% for c in categorias %}
        <option value="{{ c.id }}">{{ c.nombre }}</option>
        {% endfor %}
        <option value="otra">-- Otra --</option></select
      ><br /><br />

      <div id="campo_otro" style="display: none">
        <label>Nueva categoría:</label><br />
        <input type="text" name="nueva_categoria" /><br /><br />
      </div>

      <script>
        function mostrarCampoOtra(valor) {
          const campo = document.getElementById("campo_otro");
          campo.style.display = valor === "otra" ? "block" : "none";
        }
      </script>

      <label>Cantidad:</label><br />
      <input type="number" name="cantidad" required /><br /><br />

      <label>Precio:</label><br />
      <input type="number" name="precio" required /><br /><br />

      <label>Descripción:</label><br />
      <textarea name="descripcion" rows="4" cols="40"></textarea><br /><br />

      <button type="submit">Guardar</button>
    </form>

    <br />
    <a href="{{ url_for('admin.ver_inventario') }}">← Volver al listado</a>
  </body>
</html>
