<!-- templates/cliente/habitaciones.html -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Habitaciones Disponibles</title>
</head>
<body>
    <h1>Habitaciones Disponibles</h1>
    {% for hab in habitaciones %}
        <div style="border:1px solid #ccc; padding:10px; margin:10px;">
            <h2>Habitación #{{ hab.idhabitaciones }}</h2>
            <p><strong>Categoría:</strong> {{ hab.categoria.nombre }}</p>
            <p><strong>Capacidad:</strong> {{ hab.capacidad }} personas</p>
            <p><strong>Precio:</strong> ${{ "{:,.0f}".format(hab.precio) }}</p>
            <p><strong>Amenidades:</strong>
                {% if hab.wifi %} Wifi {% endif %}
                {% if hab.aire_acondicionado %} - A/A {% endif %}
                {% if hab.Tina %} - Tina {% endif %}
                {% if hab.ventilador %} - Ventilador {% endif %}
                {% if hab.TV %} - TV {% endif %}
                {% if hab.bar %} - Bar {% endif %}
                {% if hab.caja_fuerte %} - Caja Fuerte {% endif %}
            </p>
            <p><strong>Camas:</strong>
                <ul>
                    {% for rel in hab.camas %}
                        <li>{{ rel.cama.nombre }}</li>
                    {% endfor %}
                </ul>
            </p>
            <p><strong>Fotos:</strong></p>
            {% for foto in hab.fotos %}
                <img src="data:image/jpeg;base64,{{ foto.fotos | b64encode }}" width="200">

            {% endfor %}

              <a href="{{ url_for('cliente.reservar_habitacion', id=hab.idhabitaciones) }}">
        <button>Reservar</button>
        </a>
        </div>
      
    {% endfor %}
</body>
</html>
